Package: laba1spo
Version: 1.0.0
Architecture: amd64
Maintainer: Usama and Musalimi
Installed-Size: 12
Depends: g++, libc6-dev
Section: unknown
Priority: optional
Multi-Arch: foreign
Description: Super puper 52 deb
